# Created by venv; see https://docs.python.org/3/library/venv.html
Include/
Lib/
Scripts
__pycache__/
*.pyc
pyvenv.cfg
# Environment variables
.env

# Python virtual environment
venv/

# Docker/MySQL temporary files
*.log
