body{

margin:0;

font-family:Arial;

}

header{

background:black;

padding:20px;

text-align:center;

}

.logo{

width:160px;

height:80px;

}

nav ul{

list-style:none;

padding:0;

}

nav li{

display:inline-block;

}

nav a{

color:white;

text-decoration:none;

padding:15px;

font-weight:bold;

}

.banner{

display:block;

width:80%;

height:300px;

margin:30px auto;

}

.content{

width:70%;

margin:auto;

}

.content h1{

text-align:center;

}

.content{

width:70%;

margin:auto;

}

.content p{

font-size:18px;

line-height:30px;

text-align:justify;

}

.form-box{

width:400px;

margin:50px auto;

}

.form-box input{

width:100%;

padding:10px;

margin-bottom:15px;

}

button{

padding:10px 20px;

}

.table-box{

width:70%;

margin:50px auto;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#333;

color:white;

}

th,td{

border:1px solid gray;

padding:10px;

}
.form-settings{

width:500px;

margin:80px auto;

padding:40px;

border:1px solid #ddd;

border-radius:12px;

box-shadow:0 0 10px lightgray;

}

.form-settings h1{

text-align:center;

font-size:40px;

margin-bottom:40px;

}

.form-settings p{

display:flex;

align-items:center;

margin-bottom:25px;

}

.form-settings span{

width:120px;

font-size:20px;

font-weight:bold;

}

.form-control{

width:300px;

height:40px;

font-size:18px;

padding-left:10px;

}

.submit{

display:block;

width:150px;

height:45px;

font-size:18px;

margin:30px auto 0;

cursor:pointer;

}ont-size:45px;

margin-bottom:40px;

}

.form-settings p{

display:flex;

align-items:center;

margin-bottom:25px;

}

.form-settings span{

width:150px;

font-size:22px;

font-weight:bold;

}

.form-control{

width:320px;

height:40px;

font-size:18px;

padding-left:10px;

}

.submit{

float:right;

width:140px;

height:45px;

font-size:18px;

font-weight:bold;

cursor:pointer;

}
.logo{
width:400px;
height:auto;
}