<!DOCTYPE html>

<html>

<head>

<title>Technology Center</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body>

<header>

<img class="logo"

src="{{ url_for('static',filename='images/technology logo.jpg') }}">

<nav>

<ul>

<li><a href="/">HOME</a></li>

<li><a href="/trainer_data">Technology TSHEET</a></li>

<li><a href="/trainer">TRAINER</a></li>

<li><a href="/trainer_data">DISPLAY</a></li>

<li><a href="/jira">JIRA</a></li>

<li><a href="{{ url_for('logout') }}">LOGOUT</a></li>


</ul>

</nav>

</header>

<img class="banner"

src="{{ url_for('static',filename='images/technology-banner.jpg') }}">

<div class="content">

<h1>Welcome to Technology Center</h1>

<p>

Technology Center is a simple Flask based web application
designed to manage trainer information and course details.
This system allows users to add trainer records, store
information inside a MySQL database and display the saved
data on a separate page. It also demonstrates how Flask
routes, templates, static files and database connectivity
work together to build a small web application.

</p>

</div>

</body>

</html>